/* colors */
/* font */
/* breakpoints */
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0);
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1366px;
    padding-left: 26px;
    padding-right: 26px;
  }
}

.empty {
  height: 200px;
}

.empty h2 {
  display: none;
}

header {
  padding-top: 30px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navigation-links-list {
  display: none;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.21;
}

header .navigation-links-list .navigation-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #b9b9b9;
}

header .navigation-links-list .navigation-link:hover, header .navigation-links-list .navigation-link:focus {
  color: #ff6b09;
}

header .navigation-links-list li:not(:last-child) {
  margin-right: 40px;
}

@media screen and (min-width: 1366px) {
  header .navigation-links-list {
    display: flex;
  }
}

header .header-buttons {
  display: flex;
  align-items: center;
}

header .consultation-button {
  display: none;
}

@media screen and (min-width: 768px) {
  header .consultation-button {
    display: block;
  }
}

@media screen and (min-width: 1366px) {
  header .consultation-button {
    width: 336px;
    height: 70px;
  }
}

header .open-modal-btn {
  background: unset;
  border: none;
  height: 18px;
  margin-left: 40px;
  padding: 0;
}

@media screen and (min-width: 1366px) {
  header .open-modal-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding-top: 42px;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80;
}

.logo .first-lane {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 1.23;
  letter-spacing: 0.04em;
}

.logo .first-lane svg {
  width: 14px;
  height: 19px;
  margin: 0 4px 4px 4px;
}

@media screen and (min-width: 768px) {
  .logo .first-lane svg {
    width: 22px;
    height: 30px;
  }
}

@media screen and (min-width: 768px) {
  .logo .first-lane {
    font-size: 26px;
  }
}

.logo .second-lane {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 5.5px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .logo .second-lane {
    font-size: 8px;
  }
}

.consultation-button {
  width: 260px;
  height: 48px;
  background: unset;
  color: #ff6b09;
  align-self: center;
  border: 2px solid #ff6b09;
  padding: 0;
}

.about-section {
  padding-top: 39px;
}

.about-section h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  margin: 0 0 20px 0;
}

@media screen and (min-width: 768px) {
  .about-section h2 {
    font-size: 26px;
  }
}

.about-section h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  margin: 20px 0 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #b9b9b9;
}

@media screen and (min-width: 768px) {
  .about-section h3 {
    margin: 0 0 20px 0;
  }
}

.about-section ul {
  display: flex;
  flex-direction: column;
}

.about-section ul::after {
  display: flex;
  content: "";
  width: 20px;
  height: 2px;
  background: #ff6b09;
  margin-top: 23px;
}

.about-section ul li {
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  padding-left: 26px;
  position: relative;
}

.about-section ul li:not(:last-child) {
  margin-bottom: 20px;
}

.about-section ul li::before {
  content: "";
  display: flex;
  width: 17px;
  height: 14px;
  box-sizing: border-box;
  background-image: url(../images/check-mark.svg);
  background-size: cover;
  margin-right: 9px;
  position: absolute;
  top: 0;
  left: 0;
}

.about-section img {
  width: 243px;
}

@media screen and (min-width: 1366px) {
  .about-section img {
    width: 530px;
  }
}

.container .about-section-content {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .container .about-section-content {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .container .about-section-description {
    margin-left: 40px;
  }
}

.container p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  color: #b9b9b9;
  margin: 20px 0 0 0;
}

.container a {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  color: #ff6b09;
  margin-top: 10px;
}

.guarantee-section {
  padding-top: 50px;
}

.guarantee-section .container {
  width: 100%;
  padding: 0;
}

.guarantee-section .container h2 {
  margin: 0 0 30px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .guarantee-section .container {
    width: 688px;
  }
}

@media screen and (min-width: 1366px) {
  .guarantee-section .container {
    width: 1314px;
  }
}

.our-guarantees {
  display: flex;
  width: 100%;
  background: #f1f1f1;
  padding: 30px 20px 30px 27px;
}

.our-guarantees ul {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.our-guarantees li {
  width: 273px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  display: flex;
  position: relative;
  padding-left: 28px;
}

.our-guarantees li:not(:last-child) {
  padding-bottom: 28px;
  border-left: 1px dashed #b9b9b9;
}

@media screen and (min-width: 768px) {
  .our-guarantees li:not(:last-child) {
    padding-bottom: 20px;
  }
}

.our-guarantees li::before {
  content: "";
  display: flex;
  width: 15px;
  height: 20px;
  background-image: url(../images/fire.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: -7px;
}

@media screen and (min-width: 1366px) {
  .our-guarantees li::before {
    width: 22px;
    height: 30px;
    left: -11px;
  }
}

@media screen and (min-width: 768px) {
  .our-guarantees li {
    width: 520px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1366px) {
  .our-guarantees li {
    font-size: 20px;
    line-height: 1.4;
    width: 1038px;
    padding-left: 41px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  background: rgba(17, 21, 24, 0.9);
  transition: 250ms ease-in-out;
  pointer-events: none;
  display: block;
  z-index: 2;
}

.modal-mobile-menu {
  padding: 30px 0;
}

.modal-mobile-menu .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.modal-mobile-menu .container .mobile-menu-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .modal-mobile-menu .container .consultation-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .modal-mobile-menu {
    padding: 42px 0;
  }
}

.modal-active {
  left: 0%;
  pointer-events: all;
}

.body-scroll-disable {
  overflow: hidden;
}

.mobile-menu-logo {
  top: 30px;
  left: 20px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .mobile-menu-logo {
    top: 42px;
    left: 40px;
  }
}

.modal-close-btn {
  width: 15px;
  height: 15px;
  background: unset;
  border: none;
  top: 37px;
  right: 20px;
  padding: 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal-close-btn {
    top: 59px;
    right: 44px;
  }
}

.mobile-menu-items {
  width: 100%;
  margin: 50px 0;
}

.mobile-menu-items ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu-items ul .mobile-menu-item {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.mobile-menu-items ul .mobile-menu-item:hover, .mobile-menu-items ul .mobile-menu-item:focus {
  color: #ff6b09;
}

@media screen and (min-width: 768px) {
  .mobile-menu-items ul .mobile-menu-item {
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-items {
    width: 332px;
    margin: 72px 0 0 0;
  }
}

/* CERTIFICATE MODAL */
.modal-area-bgd {
  padding: 15px 0;
}

.certificate-container {
  position: relative;
  height: 80%;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  padding: 45px 0;
  background: #ffffff;
  box-sizing: border-box;
}

.certificate-container .scroll {
  height: 100%;
  overflow-y: auto;
  padding: 0 15px;
}

.certificate-container img {
  width: 200px;
}

.certificate-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  background: #ff6b09;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.certificate-close-btn svg {
  fill: black;
}
/*# sourceMappingURL=main.css.map */